# COMPREHENSIONS

List Comprehensions

In [1]:
students = ["John", "Mark", "Venessa", "Marian"]
student_no = ["John","Venessa"]

In [5]:
[student.lower() if student in student_no else student.upper() for student in students]

['john', 'MARK', 'venessa', 'MARIAN']

Dict Comprehensions

In [6]:
dictionary = {'a':1,
              'b':2,
              'c':3,
              'd':4}

In [10]:
{k+'x':v**2 for (k,v) in dictionary.items()}

{'ax': 1, 'bx': 4, 'cx': 9, 'dx': 16}

In [12]:
numbers = range(0,10)
numbers

range(0, 10)

In [16]:
new_dict = {number : number**2 for number in numbers if number % 2== 0 }
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [20]:
list1 = ['AXa ', 'BXB', 'AXC', 'AXD', 'BXE']
[item.lower() for item in list1]

['axa ', 'bxb', 'axc', 'axd', 'bxe']

In [24]:
["FLAG_"+item if item.startswith('AX') else "NO FLAG_"+item for item in list1]

['FLAG_AXa ', 'NO FLAG_BXB', 'FLAG_AXC', 'FLAG_AXD', 'NO FLAG_BXE']

In [25]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [32]:
num_cols = [col for col in df.columns if df[col].dtype != 'O'] #non-categorical
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [34]:
agg_list = ['mean','min','max','var']

In [38]:
new_dict = {col:agg_list for col in num_cols}

In [37]:
df[num_cols].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [39]:
df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
var,16.990902,4.071303,2.989901,20.330874,14.172755,31789.565170,616.823046